<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %> | PaduKarya
  </title>
  <%- include("../../../_style") %>
</head>

<body>
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <%- include("../../../_header") %>
    <%- include("../../../_sidebar", { page: 'pengadaan' }) %>
    <%- include("../../../_toast") %>

    <div class="page-wrapper">
      <%- include("../_breadcrumb", {title: "Input Material Baru pada Pengadaan", pengadaan: pengadaan}) %>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <%- include('../_sidebar', {page: 'material'}) %>
          </div>
          <div class="col-9">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h4 style="font-weight: 500;">Material baru</h4>
                  <a href="/pengadaan/<%= pengadaan._id %>/material">
                    <button class="btn btn-dark" style="color: white !important;">Kembali</button>
                  </a>
                </div>

                <hr>

                <form action="/pengadaan/<%= pengadaan._id %>/material/baru" method="POST">
                  <input type="hidden" name="token" value="<%= token %>">
                  
                  <div class="mb-4">
                    <label for="" class="form-label">Pilih Material</label>
                    <select class="form-select" name="prk_material_id" id="prk-material-select2" data-placeholder="Cari Material"></select>

                    <% if(errors) { %>
                      <div class="text-danger mt-2 text-sm">
                        <%= errors.prk_material_id %>
                      </div>
                    <% } %>
                  </div>

                  <div class="mb-4">
                    <label class="form-label" for="">Informasi Material pada PRK-SKKI</label>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th style="width: 20%;">Nomor PRK</th>
                          <td id="nomorPrk"></td>
                        </tr>
                        <tr>
                          <th>Nama Project</th>
                          <td id="namaProject"></td>
                        </tr>
                        <tr>
                          <th>Harga Material</th>
                          <td id="hargaMaterial"></td>
                        </tr>
                        <tr>
                          <th>Jumlah</th>
                          <td id="jumlahMaterial"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  <div class="mb-4">
                    <label for="" class="form-label">Harga</label>
                    <div class="input-group mb-3" style="max-width: 320px;">
                      <span class="input-group-text" id="basic-addon1">Rp</span>
                      <input type="text" class="form-control form-control-number" id="hargaMaterialInput" onblur="formatNumber(this, true)" onfocus="unformatNumber(this, true)" name="harga" value="0" aria-describedby="basic-addon1">
                      <span class="input-group-text" id="satuanMaterial">/pcs</span>
                    </div>
                    <% if(errors) { %>
                      <div class="text-danger mt-2 text-sm">
                        <%= errors.harga %>
                      </div>
                    <% } %>
                  </div>

                  <div class="mb-4">
                    <label for="" class="form-label">Jumlah</label>
                    <div class="input-group mb-3" style="max-width: 220px;">
                      <input type="text" id="jumlahMaterialInput" class="form-control form-control-number" onblur="formatNumber(this, true)" onfocus="unformatNumber(this, true)" name="jumlah" aria-describedby="basic-addon1">
                      <span class="input-group-text" id="satuanMaterial2">pcs</span>
                    </div>
                    <% if(errors) { %>
                      <div class="text-danger mt-2 text-sm">
                        <%= errors.jumlah %>
                      </div>
                    <% } %>
                  </div>

                  <div class="mb-4">
                    <label for="" class="form-label">Subtotal</label>
                    <div class="input-group mb-3" style="max-width: 320px;">
                      <span class="input-group-text">Rp</span>
                      <input type="text" id="subtotalInput" name="subtotal" class="form-control form-control-number" disabled value="0" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  
                  <hr>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-dark">Simpan</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../../_script") %>
    <script>
      
      $(document).ready(function() {
        $('#data_table').DataTable();

        $('#prk-material-select2').select2({
          theme: "bootstrap-5",
          width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
          placeholder: $( this ).data( 'placeholder' ),
          ajax: {
            url: '/skki/<%= pengadaan.skki_id %>/material/json',
            data: function (params) {
              var query = {
                search: params.term,
                type: 'public'
              }
              return query;
            },
            processResults: function (data) {
              return {
                results: data.data.map(function (item) {
                  return {
                    id: item._id,
                    prk_id: item.prk_id,
                    text: "[" + item.kode_normalisasi + "]" + item.nama_material + " (Rp" + new Intl.NumberFormat('id-ID', {
                      minimumFractionDigits: 0,
                      maximumFractionDigits: 4
                    }).format(item.harga * item.jumlah) + ")",
                  }
                })
              };
            }
          }
        });

        $('#prk-material-select2').on('select2:select', function (e) {
          var data = e.params.data;
          $.get('/prk/' + data.prk_id +'/material/' + data.id + '/json', function (result) {
            $('#nomorPrk').text(result.prk.nomor_prk);
            $('#namaProject').text('/' + result.prk.nama_project);
            $('#hargaMaterial').text(new Intl.NumberFormat('id-ID', {
              style: 'currency',
              currency: 'IDR',
              minimumFractionDigits: 0,
              maximumFractionDigits: 4
            }).format(result.material.harga));
            $('#jumlahMaterial').text(new Intl.NumberFormat('id-ID', {
              minimumFractionDigits: 0,
              maximumFractionDigits: 4
            }).format(result.material.jumlah) + ' '+result.material.satuan);

            $('input[name=harga]').val(new Intl.NumberFormat('id-ID', {
              minimumFractionDigits: 0,
              maximumFractionDigits: 4
            }).format(result.material.harga));
            $('input[name=jumlah]').val(new Intl.NumberFormat('id-ID', {
              minimumFractionDigits: 0,
              maximumFractionDigits: 4
            }).format(result.material.jumlah));
            $('input[name=subtotal]').val((result.material.harga * result.material.jumlah).toLocaleString('id-ID', {
              minimumFractionDigits: 0,
              maximumFractionDigits: 4
            }));

            formatNumber(document.getElementById('hargaMaterialInput'), true);
            formatNumber(document.getElementById('jumlahMaterialInput'), true);
            formatNumber(document.getElementById('subtotalInput'), true);
          }); 
        });

        $('input[name=harga]').on('input', function() {
          const harga = parseFloat($(this).val().replace(/\./g, '').replace(/\,/g, '.'));
          const jumlah = parseFloat($('input[name=jumlah]').val().replace(/\./g, '').replace(/\,/g, '.'));
          const subtotal = harga * jumlah;

          $('input[name=subtotal]').val(subtotal.toLocaleString('id-ID', {
            minimumFractionDigits: 0,
            maximumFractionDigits: 4
          }));
        });

        $('input[name=jumlah]').on('input', function() {
          const harga = parseFloat($('input[name=harga]').val().replace(/\./g, '').replace(/\,/g, '.'));
          const jumlah = parseFloat($(this).val().replace(/\./g, '').replace(/\,/g, '.'));
          const subtotal = harga * jumlah;

          $('input[name=subtotal]').val(subtotal.toLocaleString('id-ID', {
            minimumFractionDigits: 0,
            maximumFractionDigits: 4
          }));
        });
      });
    </script>
  </div>
</body>

</html>