<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %> | PaduKarya
  </title>
  <%- include("../../../_style") %>
</head>

<body>
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <%- include("../../../_header") %>
    <%- include("../../../_sidebar") %>
    <%- include("../../../_toast") %>

    <div class="page-wrapper">
      <%- include("../_breadcrumb", {title: "Input Lampiran Baru pada PRK", prk: prk}) %>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <%- include('../_sidebar', {page: 'lampiran'}) %>
          </div>
          <div class="col-9">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h4 style="font-weight: 500;">Lampiran Baru</h4>
                  <a href="/prk/<%= prk._id %>/lampiran">
                    <button class="btn btn-dark" style="color: white !important;">Kembali</button>
                  </a>
                </div>

                <hr>

                <form action="/prk/<%= prk._id %>/lampiran/baru" method="POST" enctype="multipart/form-data">
                  <input type="hidden" name="token" value="<%= token %>">
                  <input type="hidden" name="folder" value="lampiran">
                  <div class="mb-4">
                    <label for="file" class="form-label">Pilih File</label>
                    <input type="file" class="form-control" name="file" id="" style="max-width: 425px;" accept=".jpg, .jpeg, .png, .pdf, .xlsx, .docx, .pptx" required>
                    <div><small class="text-sm text-muted ">Hanya .jpg, .jpeg, .png, .pdf, .xlsx, .docx dan .pptx</small></div>
                    <% if(errors) { %>
                      <div class="text-danger mt-2 text-sm">
                        <%= errors.file %>
                      </div>
                    <% } %>
                  </div>
                  
                  <hr>

                  <div class="d-flex justify-content-end">
                    <button class="btn btn-dark">Simpan</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../../_script") %>
    <script>
      $('#jasa_table').DataTable();
    </script>
  </div>
</body>

</html>