<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %> | PaduKarya
  </title>
  <%- include("../../_style") %>
</head>

<body>
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <%- include("../../_header") %>
    <%- include("../../_sidebar", { page: 'pengadaan' }) %>
    <%- include("../../_toast") %>

    <div class="page-wrapper">
      <%- include("_breadcrumb", {title: "Informasi Pengadaan", pengadaan: pengadaan}) %>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <%- include('_sidebar', {page: 'detail', pengadaan: pengadaan}) %>
          </div>
          <div class="col-9">
            <div class="card">
              <div class="card-body">
                <h4 style="font-weight: 500;">Informasi</h4>
                <hr>
                <form action="">
                  <div class="mb-4">
                    <label for="" class="form-label">Tahun</label>
                    <input type="number" name="" id="" class="form-control" style="max-width: 220px;" value="<%= pengadaan.tahun %>">
                  </div>

                  <div class="mb-4">
                    <label for="" class="form-label">Basket</label>
                    <select name="" id="" class="form-control" style="max-width: 220px;">
                      <option value="">Pilih basket</option>
                      <option value="1" <% if(pengadaan.basket == 1 ){ %> selected <% } %>>1</option>
                      <option value="2" <% if(pengadaan.basket == 2 ){ %> selected <% } %>>2</option>
                      <option value="3" <% if(pengadaan.basket == 3 ){ %> selected <% } %>>3</option>
                    </select>
                  </div>

                  <div class="mb-4">
                    <label for="" class="form-label">Nama Project</label>
                    <textarea class="form-control" rows="2"><%= pengadaan.nama_project %></textarea>
                  </div>

                  <div class="mb-4">
                    <label for="" class="form-label">Nodin</label>
                    <input type="text" name="" id="" class="form-control" value="<%= pengadaan.nodin %>">
                  </div>

                  <div class="mb-4">
                    <label for="" class="form-label">Tanggal Nodin</label>
                    <input type="text" name="" id="" class="form-control" value="<%= pengadaan.tanggal_nodin %>">
                  </div>

                  <div class="mb-4">
                    <label for="" class="form-label">Nomor PR Jasa</label>
                    <input type="text" name="" id="" class="form-control" value="<%= pengadaan.nomor_pr_jasa %>">
                  </div>
                  <div class="mb-4">
                    <label for="" class="form-label">Nomor PRK-SKKI</label>
                    <select class="form-select" name="skki_id" id="skki-select2" data-placeholder="Nomor PRK-SKKI"></select>
                    <% if(errors) { %>
                      <div class="text-danger mt-2 text-sm">
                        <%= errors.skki_id %>
                      </div>
                    <% } %>
                  </div>

                  <div class="mb-4">
                    <label for="" class="form-label">Status</label>
                    <select name="" id="" class="form-control" style="max-width: 220px;">
                      <option value="">Pilih status</option>
                      <option value="proses" <% if(pengadaan.status == "proses") { %> selected <% } %>>Proses</option>
                      <option value="selesai" <% if(pengadaan.status == "terkontrak") { %> selected <% } %>>Terkontrak</option>
                    </select>
                  </div>

                  <div class="mb-4">
                    <label for="" class="form-label">Tipe</label>
                    <select name="" id="" class="form-control" style="max-width: 220px;">
                      <option value="">Pilih tipe</option>
                      <option value="murni" <% if(pengadaan.type == "murni") { %> selected <% } %>>Murni</option>
                      <option value="turunan" <% if(pengadaan.type == "turunan") { %> selected <% } %>>Turunan</option>
                    </select>
                  </div>

                  <hr>

                  <div class="d-flex justify-content-end">
                    <button class="btn btn-dark">Perbarui</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../_script") %>
    <script>
      $('#skki-select2').select2({
        theme: "bootstrap-5",
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $( this ).data( 'placeholder' ),
        ajax: {
          url: '/skki/json',
          data: function (params) {
            var query = {
              search: params.term,
              type: 'public'
            }
            return query;
          },
          processResults: function (data) {
            return {
              results: data.data.map(function (item) {
                return {
                  id: item._id,
                  text: item.nomor_prk_skki
                }
              })
            };
          }
        }
      });

      // Set initial value
      const initialData = {
        id: "<%= skki._id %>",
        text: "<%= skki.nomor_prk_skki %>"
      };

      const $select = $('#skki-select2');

      // Create the option and append it
      const option = new Option(initialData.text, initialData.id, true, true);
      $select.append(option).trigger('change');
    </script>
  </div>
</body>

</html>